# GNG Online Integration Parameters
lambda = 100
max_node_num = 10000
num_samples = 100000
max_iterations = 0
refine_iterations = 0
coord_edge_iterations = 0

# Learning Rates
learn_rate_s1 = 0.05
learn_rate_s2 = 0.005

# Topology
max_edge_age = 50
alpha = 0.5
beta = 0.0005

# Initialization
start_node_num = 2

# Runtime control
runtime_per_frame = 2

