# GNG Offline Training Parameters
lambda = 50
max_node_num = 10000
num_samples = 2000000
max_iterations = 2000000
refine_iterations = 100000
coord_edge_iterations = 200000

# Learning Rates
learn_rate_s1 = 0.08
learn_rate_s2 = 0.008

# Topology
max_edge_age = 500
alpha = 0.5
beta = 0.0005

# Optimization (for offline/AiS)
n_best_candidates = 4
ais_threshold = 1.0

# Initialization
start_node_num = 2
